@import '~antd/dist/antd.css';

.title-area {
  width: 100%;
  height: 70px;
  padding: 16px;
  text-align: center;
  color: white;
  background-color: #005580;
}

// .sidebar-area {
//   background-color: rgb(85, 107, 155) !important;
// }

.sidebar-left-menu-area {
  margin-top: 0px !important;
  margin-bottom: 0px !important;
}

.site-layout .site-layout-background {
  background: #fff;
}
[data-theme='dark'] .site-layout .site-layout-background {
  background: #141414;
}

.ant-menu-item-disabled {
  cursor: default;
}

.crafting-list-area {
  overflow-y: auto;
  height: calc(90vh - 100px);
  .ant-menu.ant-menu-inline-collapsed {
    .ant-menu-item {
      width: 100%;
      padding: 0 calc(50% - 130px / 2);
      transition: all 0.2ms;
    }
  }
}
